*
{
    margin: 0px;
    padding: 0px;
}

html
{
    /* Background illustratif et non définitif */
    background-color: #323E55;
    /*background-image: url(media/banner.jpg);*/
    background-repeat: no-repeat;
    background-size : 1715px 400px;

}

#navbar h1
{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 85px;
    align-content: flex-end;
    color: white;
    font-size: 50px;
    text-align: right;
    width: 1800px;

}

#navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-content: center;
    margin-left: 150px;
    margin-right: 150px;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
    width: 1670px;
    height: 65px;
    margin: auto;
    font-size: 30px;
    color: white;
    border-style: outset;
    border-color: #333;
}

#navbar li
{
    display: block;
    float: left;
    border-right: 1px solid #bbb;
}

#navbar li:last-child
/* Bordure droite non présente sur le dernier onglet*/
{
    float: right;
    position: sticky;
    font-size: 30px;
    text-align: right;
    margin-left: 10px;
    border-right: none;
    border-left: 1px solid #bbb;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-content: center;
    overflow: hidden;
    background-color: #333;
    width: 110px;
    height: 65px;
    margin: auto;
    font-size: 30px;
    color: white;
}

#navbar li a
{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

#navbar li a:hover:not(.active)
/* Couleur lors du passage de la souris*/
{
    background-color: #111;
}

#navbar .active
/* Pour colorer l'onglet de la page active */
{
    background-color: #4CAF50;
}

#horloge
{
    font-size: 30px;
    padding: 14px 16px;
}

#navbar iframe
{
    overflow: hidden;
    width: 545px;
    padding: 0;
    height: 40px;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 12px;
}

section 
{
    width: 1400px;
	margin: auto;
    height: 2700px;
    background-color: white;
    margin-top: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top : 2px solid #ff9103;
    border-left: 2px solid #ff9103;
    border-right: 2px solid #ff9103;
    border-bottom: 2px solid #EF8A2A;
}

#presentation
{
    height: 300px;
    margin-top: 0px;
    background-image: url(media/bannertux.jpg);
    border-top-left-radius: 20px;
    border-top-right-radius: 19px;
    background-repeat: no-repeat;
    background-size: 1400px 300px;
    
}

/*  Programme 1 */

#titre1
{   
    display: inline-block;
    border-radius: 0px;
    background-color: #7900CE;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
    width: 1400px;
    font-family: arial;
}


#progaffiche1 h2
{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

#progaffiche1 img
{
    float: left;
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    width: 40%;
}

#progaffiche1 p
{
    text-align: justify;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 25px;
    display: grid;
    width: 750px;
}



/*  Programme 2 */

#titre2
{   
    display: inline-block;
    border-radius: 0px;
    background-color: #37B24A;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
    width: 1400px;
    font-family: arial;
}


#progaffiche2 h2
{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

#progaffiche2 img
{
    float: left;
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 30px;
    width: 38%;
}

#progaffiche2 p
{
    text-align: justify;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 25px;
    display: grid;
    width: 750px;
}

/*  Programme 3 */

#titre3
{   
    display: inline-block;
    border-radius: 0px;
    background-color: #F46305;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
    width: 1400px;
    font-family: arial;
}


#progaffiche3 h2
{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

#progaffiche3 img
{
    float: left;
    display: block;
    margin-top: 40px;
    margin-left: 85px;
    margin-right: 30px;
    width: 35%;
}

#progaffiche3 p
{
    text-align: justify;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 25px;
    display: grid;
    width: 750px;
}

/*  Programme 4 */

#titre4
{   
    display: inline-block;
    border-radius: 0px;
    background-color: #EAD006;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
    width: 1400px;
    font-family: arial;
}


#progaffiche4 h2
{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

#progaffiche4 img
{
    float: left;
    display: block;
    margin-top: 40px;
    margin-left: 90px;
    margin-right: 95px;
    width: 30%;
}

#progaffiche4 p
{
    text-align: justify;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 25px;
    display: grid;
    width: 750px;
}

#plusprog
{
    margin-top: 10px;
}

#plusprog a
/*Description*/
{
    float: left;
    width: 310px;
    font-size: 25px;
    margin-left: 540px;
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: blink;
    text-align: center;
    color: red;
}

#plusprog p
/*Difficulté*/
{
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    width: 250px;
    font-size: 25px;
    color: green;
    text-transform: uppercase;
}


#plusprog2 a
/*Télécharger*/
{
    float: left;
    width: 0px;
    font-size: 25px;
    margin-left: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: red;
}

/*Pied de page*/

#piedpage p
{   
    background-color: white;
    padding-top: 10px;
    margin: 60px auto;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    width: 1500px;
    align-content: center;
    border-radius: 10px;
    font-family: arial;
}

#piedpage img
{
    display: block;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    width: 10%;
    margin: 20px auto;
}