*
{
    margin: 0px;
    padding: 0px;
}

html
{
    background: black;
    height: 300px;
}

#shootemup
{
    width: 800px;
    height: 500px;
    margin: 0px auto;
    text-align: center;
}

#toile
{
    margin-top: 15px;
    border: solid 1px red;
}

#perdu
{
    display: none;
    margin-top: 145px;
    margin-left: 60px;
    position: absolute;
    text-align: center;
    font-size: 40px;
    color: red;
}

#gagne
{
    display: none;
    margin-top: 150px;
    margin-left: 7px;
    position: absolute;
    font-size: 30px;
    color: limegreen;
}
    
#txtboutton
{
    border: 5px dotted blue;
    padding: 10px;
    background-color: black;
    color: white;
}

#lancejeux
{
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 330px;
    border: solid 1px black;
    border-bottom-right-radius: 330px;
}